mixin changePasswordForm
    include ./messageAlert

    +messageAlert
    div(class="change_pswd_form")
        form(action='/user/changePassword', method='POST')
            div(class="form-group")
                label(for="oldP") Old Password:
                input(type="password" name="oldPswd" class="form-control" id="oldP")
            div(class="form-group")
                label(for="oldP2") Again:
                input(type="password" name="oldPassword2" class="form-control is-invalid" id="oldP2")
                div(class=".invalid-feedback" id="pFeedback") Пароли не совпадают
            div(class="form-group")
                label(for="newP") New Password
                    input(type="password" name="newPswd" class="form-control" id="newP")
            button(type="submit" value="changePassword" class="btn btn-warning" id="changeBtn") Change
    script(src="../javascripts/validateFormChangePassword.js")
    script
        validateForm()