extends layout

block content
    div(class='chat container-fluid')
        div(class='row')
            div(class='col-sm-12 ') User's password: #{username}
            div(class='col-sm-4 ') User's id: #{info}
            div(class='col-sm-8 ') блок8
            div(class='clearfix')
            div(class='col-sm-12')
                div(class='dialog_block col-sm-12')
                        div(class='avatar col-sm-1')
                            img(class='img-circle' height='70' width='70' src='https://i.ytimg.com/vi/gwIPl_kur-4/hqdefault.jpg' )
                        div(class='texter col-sm-11')
                            div(class="texter__textarea col-sm-9")
                                textarea(class='form-control texter__textarea')
                            div(class="col-sm-1")
                                div(class='texter__send_btn')