extends layout
include ./contact
include ./message

block content
    -var i = 0;
    div(class="col-sm-12 main")
        div(class="col-sm-2 left-panel")
            div(class="contact-list-panel")
                // To use backend contacts: var contacts = loadUserContacts();
                // +contact(contact.name, contact.id)
                each contact in contacts
                    +contact(contact, i++)
        div(class="col-sm-9 inline chats-body" id="messages-body-id")
            p You should choose a chat
        div(class="message-send col-sm-8 form-group")
            button(class="btn btn-success col-sm-1 inline" onclick="addMessage('here is a text', 'this is a user')") Send
            textarea(type="text" class="form-control col-sm-5 inline" id="send-message-text")
    script(src="../javascripts/addMessage.js")
    script(src="../javascripts/backendUrls.js")