mixin contact(name)
    div(class="chat-list-panel")
        div(class="contact inline")
            div
                img(class="inline contact-photo" src="images/ellipse.svg")
                div(class="inline chat-title")
                    p=name