extends layout
include ./contact
include ./message
include ./contacts
include ./chat


block customScript
    script(src="/javascripts/addMessage.js")
    script(src="/javascripts/backendUrls.js")


        //add to contact list panel:

block content
    div(class="row main")
        div(class="col-sm-3 left-panel")
            +contacts
        div(class="col-sm-9 right-panel")
            div(class="row header_panel")
                div(class="col-sm-11")
                    h5 Hello, #{name}!
                div(class="col-sm-1")
                    a(href="/profile") Profile
                div(class="logout-link-container col-sm-1")
                    a(href="/logout")
                        div(class="logout_btn" onclick='logout()')
            +chat
    //- script(src="/javascripts/addMessage.js")
    //- script(src="/javascripts/backendUrls.js")