mixin contacts
    div(class="contact-list-panel" id="contact-list-panel-id")
        input(type="hidden" id="user-id" value=user)
        input(type="hidden" id="user-name" value=name)
        div(class="search-container")
            input(type="text" name="search" id="search_input_text_id" placeholder="Search.." class="search_input")
            button(onclick="addNewContact()") +