
mixin contact(name)
    div(class="inline")
        h1 = name
//block content
    //div(class="chat-list-panel")
      //  div(class="contact inline")
            img(class="inline contact-photo" src="images/ellipse.svg")
            div(class="inline") Lidiya Edilgiriyeva