extends layout
include ./contact
include ./message

block customScript
    script(src="/javascripts/addMessage.js")
    script(src="/javascripts/backendUrls.js")


        //add to contact list panel:

block content
    div(class="row main")
        div(class="col-sm-2 left-panel")
            div(class="contact-list-panel" id="contact-list-panel-id")
                input(type="hidden" id="user-id" value=user)
                input(type="hidden" id="user-name" value=name)
                div(class="search-container")
                    input(type="text" name="search" placeholder="Search.." class="search_input")
        div(class="col-sm-10 right-panel")
            div(class="row header_panel")
                div(class="col-sm-8")
                    h5 Hello, #{name}!
                div(class="col-sm-1")
                    a(href="/profile") Profile
                div(class="logout-link-container col-sm-1")
                    a(href="/logout") Logout
            div(class="row")
                div(class="inline chats-body col-sm-12" id="messages-body-id")
                    p You should choose a chat
            div(class="row")
                div(class="message-send inline col-sm-12")
                    textarea(type="text" class="inline" id="send-message-text")
                    img(src='../images/send-btn.svg' class='inline' id="send-message-btn" onclick='addMessage()')
    //- script(src="/javascripts/addMessage.js")
    //- script(src="/javascripts/backendUrls.js")