extends layout

block content
  div(id="login-form")
      form(action="/login", method='POST')
          div(class="form-group")
              label(for="email") Email address:
                  input(type="email" class="form-control" name="email" id="email")
          div(class="form-group")
              label(for="pwd") Password:
                  input(type="password" name="password" class="form-control" id="pwd")
          div(class="checkbox")
              label
                  input(type="checkbox")
                  Remember Remember me
          button(type="submit" value="login" class="btn btn-default") Submit