mixin message(text)
    div(class="message col-sm-3")
        div
            img(class="inline contact-photo" src="images/ellipse.svg")
            div(class="inline message-text")
                p=text
                p Lidiya