extends layout
include ./label
include ./contact
include ./message
include ./contacts
include ./chat
include ./toolbar

block style
    link(rel='stylesheet', href='css/mob.css')

block customScript
    script(src="/javascripts/addMessage.js")
    script(src="/javascripts/backendUrls.js")
    script(src="/javascripts/mob.js")


        //add to contact list panel:

block content
    block content
        div(class="main")
            +toolbar
            div(class="contacts" id="contacts_view")
                +contacts
            div(class="chatik" id="chat_view")
                +chat