mixin profileInfo
    div(class="profile_info")
        div(class="inline info")
            div(class="profile__nickname") User's alias: #{alias}
            div(class="profile__email") User's email: #{email}