mixin profileInfo
    div(class="profile_info")
        img(class="inline contact-photo" src="images/ellipse.svg")
        div(class="inline info")
            div(class="profile__nickname") User's alias: #{alias}
            div(class="profile__email") User's email: #{email}