extends layout
include ./changePasswordForm
include ./profileInfo
include ./changeAliasEmail

block style
    link(rel='stylesheet', href='css/profile.css')

block content
    div(class="stripes-background")
        div(class="card bg-info center center-card")
            div(class="card_body")
                nav
                    div(class="nav nav-tabs text-white" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true") Profile Info
                        a(class="nav-item nav-link" id="nav-changePassword-tab" data-toggle="tab" href="#nav-changePassword" role="tab" aria-controls="nav-changePassword" aria-selected="false") Change Password
                        a(class="nav-item nav-link" id="nav-changeAlias-tab" data-toggle="tab" href="#nav-changeAlias" role="tab" aria-controls="nav-changeAlias" aria-selected="false") Change Alias/Login
                br
            div(class="tab-content" id="nav-tabContent")
                div(class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab")
                    +profileInfo
                    br
                div(class="tab-pane fade" id="nav-changePassword" role="tabpanel" aria-labelledby="nav-changePassword-tab")
                    +changePasswordForm
                    br
                div(class="tab-pane fade" id="nav-changeAlias" role="tabpanel" aria-labelledby="nav-changeAlias-tab")
                    +changeAliasEmail
                    br

