mixin registerForm
    include ./messageAlert

    div(id="register-form")
        +messageAlert
        form(action="/register", method='POST')
            div(class="form-group")
                label(for="alias") @lias
                    input(type="text" class="form-control" name="alias" id="alias")
            div(class="form-group")
                label(for="email") E-mail:
                    input(type="email" class="form-control" name="email" id="email")
            div(class="form-group")
                label(for="pwd") Password:
                    input(type="password" class="form-control" name="password" id="pwd")
            div(class="checkbox")
                label
                    input(type="checkbox")
                    Remember  Remember me
            button(type="submit" value="login" class="btn btn-warning") Submit