.stripes-background {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    /*background: url("../images/light-background.png") no-repeat;*/
}

.label {
    font-size: xx-large;
}

.login-form {
    opacity: .8;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    position: relative;
    margin: 0 auto;
    width: 500px;
    display: flex;
    align-items: center;
}

.login-form-wrapper a {
    /*color: white;*/
}

.login-form-wrapper a:hover {
     /*color: white;*/
}