.stripes-background {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
}

.center-card {
    height: 80vh;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px;
    position: relative;
    margin: 0 auto;
    width: 50vw;
    display: flex;
    align-items: center;
}

.center-card a {
    color: #000000;
}

.center-card a:hover {
    color: white;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}