body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: red;
}

a {
    color: #00b7ff;
}

.chat {
    height: 100%;
    background-color: #00b7ff;
}

.dialog_block {
    display: flex;
    background-color: aquamarine;
}

.avatar {
}

.texter {
    margin:5px;
}

.texter__textarea {
    min-height: 30px;
    resize: vertical;
}

.texter__send_btn {
    margin: 0;
    display: inline-block;
    height: 26px;
    width: 29px;
    background-image: url('../images/send_btn.svg');
}
