@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/* -----General------ */
body {
  font-family: 'Open Sans', sans-serif !important;
}

textarea { resize: none; }

a {
    color: #00b7ff;
}

.chat {
    height: 100%;
    background-color: #00b7ff;
}

.dialog_block {
    display: flex;
    background-color: aquamarine;
}

.avatar {
}

.texter {
  margin:5px;
}

.texter__textarea {
  min-height: 30px;
  resize: vertical;
}

.inline {
  display: inline-block;
}

.main {
  padding: 0 !important;
  margin: 0;
  height: 100vh;
}

/* ----- Contacts list panel (right panel) ------ */
.left-panel {
  height: 100%;
}

.right-panel {
  height: 100%;
}


.contact-list-panel {
  background-color: #4c394b;
  color: #ffffff;
  height:100%;
}

.contact {
  padding-top: 7px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.contact.active {
  background-color: #27aea6;
}

.contact.active:hover {
  background-color: #27aea6;
}

.contact.active:active {
  background-color: #27aea6;
}

.chat-title {
  margin-left: 15px;
}

.contact:hover {
  cursor: pointer;
  background-color: rgba(43, 0, 43, 0.54);
}

.contact-photo {
  padding-right: 10px;
}

.texter__send_btn {
  margin: 0;
  display: inline-block;
  height: 26px;
  width: 29px;
  background-image: url('../images/send_btn.svg');
}

/* ----- Header panel ------ */
.header_panel {
  padding: 10px;
  height: 8vh;
  background-color: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
}

/* Search */

.search-sontainer {
  width: 150px;
  margin: 10vh 15px 0 0;
}

.search_input {
  margin: 10vh 15px;
  background-image: url('../images/searchicon.svg');
  width: 70%;
  padding: 10px 10x 10px 35px !important;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.sender-name {
  font-weight: bold;
}

.search_input:focus {
  width: 90%;
  outline: none;
}


input[type=text] {
  color: #ffffff;
  padding: 10px 10px 10px 30px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  font-size: 13px;
  background-color: transparent;
}

/* ----- Messages panel ------ */
.chats-body {
  overflow: scroll;
  height: 80vh;
  /*border-bottom: 1px solid rebeccapurple;*/
}

#send-message-text {
  border: 2px solid #d6d6d6;
  border-radius: 5px;
}

.message {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.message:hover {
  background-color: rgba(255, 217, 253, 0.25);
}

.message-text {
  color: #7a6879;
  font-size: 13px;
}

.time {
  margin-left: 20px;
}

#send-message-btn {
  margin: 0 0 0 14px;
}

#send-message-btn:hover {
  cursor: pointer;
  margin-left: 20px;

}

.message-send {
    margin: 0 0 0 20px;
  height: 50px;
  width: 80%;
}

.center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logout_btn {
  margin: 0;
  display: inline-block;
  height: 26px;
  width: 26px;
  background-image: url('../images/logout_btn.svg');
}

.chat_input {
    display: inline-block;
    width:95%;
}

.chat_send_btn {
    display: inline-block;
    width:5%;
}

.hidden {
    visibility: hidden;
}