@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* -----General------ */
body {
  font-family: 'Open Sans', sans-serif;
  color: red;
}

textarea { resize: none; }

a {
  color: #00b7ff;
}

#login-form {
  margin: 50px auto;
}

.inline {
  display: inline-block;
}

.main {
  padding: 0 !important;
  margin: 0;
}

/* ----- Contacts list panel (right panel) ------ */
.left-panel {
  padding: 0 !important;
  height: 100vh;
  min-width: 20vw;
  background-color: #4c394b;
  color: #ffffff;
}

.contact-list-panel {
  margin-top: 50px;
}

.contact {
  border-bottom: 1px solid #7a6879;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.chat-title {
  margin-left: 15px;
}

.contact:hover {
  cursor: pointer;
  background-color: #352834;
}

.contact-photo {
  padding-right: 10px;
}

/* ----- Messages panel ------ */
.chats-body {

}

.message-send {
  position: fixed;
  bottom: 90px;
  margin-left: 25vw;
  padding: 25px;
  height: 50px;
}